node_modules

# General-purpose ignores
client_secret_*
[Tt]humbs.db
*.DS_Store

*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elase*/
Ankh.NoLoad

_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

[Bb]uild/

.svn
~$*
/.vs
/src/third_party/*
mh-helper-extension.code-workspace
dist/
coverage