
.container-fluid {
    min-width: 280px;
}

td > a,
tr {
    text-decoration: none;
    white-space: nowrap;
    color: var(--bs-body-color);
}

svg path {
    fill: var(--bs-body-color);
}

.table-container:not(.active) {
    display: none;
}

td:hover {
    background-color: goldenrod;
}

.error_popup {
    display: none;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    33% { transform: rotate(-5deg); }
    66% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

#horn {
    background-color: goldenrod;
    color: white;
    font-weight: bolder;
    font-size: large;
}

.horn {
    width: 80px;
    animation-name: wiggle;
    animation-duration: 1s;
}
